.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background-color: #ffffff;
  color: #757575;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3, h4,
p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.header {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #000000;
  font-family: "Raleway", sans-serif;
  line-height: 1.2;
}
.logo__accent {
  color: #2196f3;
}
@media screen and (max-width: 767px) {
  .logo {
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 24px;
    margin-right: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .logo {
    padding-top: 26px;
    padding-bottom: 26px;
    font-size: 24px;
    margin-right: 87;
  }
}

.mobile.is-open .logo {
  display: none;
}

.footer__logo {
  display: block;
  margin-top: 0;
  margin-bottom: 20px;
  margin-right: 0;
  padding: 0;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  color: #2196f3;
  font-family: "Raleway", sans-serif;
  line-height: 1.2;
}
.footer__logo--accent {
  color: #ffffff;
}
@media screen and (max-width: 1199px) {
  .footer__logo {
    text-align: center;
    font-size: 24px;
  }
}

.nav-menu {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .nav-menu {
    display: none;
  }
}

.nav-menu__list {
  display: flex;
  margin-left: auto;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .nav-menu__list {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav-menu__list--contacts {
    display: block;
    padding: 21px 0;
  }
}
@media screen and (min-width: 1200px) {
  .nav-menu__list--contacts {
    display: flex;
    margin-left: auto;
  }
}

.nav-menu__item + .nav-menu__item {
  margin-left: 50px;
}

.nav-menu__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.1;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-menu__link:hover, .nav-menu__link:focus {
  color: #2196f3;
}
.nav-menu__link--current {
  color: #2196f3;
}
.nav-menu__link--current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  background-color: #2196f3;
}

.link-contact {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  color: #757575;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.1;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-contact:hover, .link-contact:focus {
  color: #2196f3;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .link-contact {
    padding: 0;
    margin-left: 0;
    font-size: 12px;
  }
  .link-contact:not(:last-child) {
    margin-bottom: 10px;
  }
}

.nav-menu__icon {
  fill: currentColor;
  margin-right: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav-menu__item--contact {
    margin-left: 0;
  }
  .nav-menu__item--contact:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav-menu__item--contact + .nav-menu__item--contact {
    margin-left: 0;
  }
}

.mobile-open {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin-left: auto;
  background-color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .mobile-open {
    display: none;
  }
}
.mobile-open:hover, .mobile-open:focus {
  color: #2196f3;
}

.mobile-close {
  position: fixed;
  right: 15px;
  top: 10px;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 15;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-close:hover, .mobile-close:focus {
  color: #2196f3;
}

.mobile-icons {
  flex-shrink: 0;
}

.mobile-icons__icon-close {
  fill: currentColor;
}

.mobile-icons__icon-menu {
  fill: currentColor;
}

.mobile-close .mobile-icons__icon-menu {
  display: none;
}

.mobile-open .mobile-icons__icon-menu {
  display: block;
}

.mobile-open .mobile-icons__icon-close {
  display: none;
}

@media screen and (max-width: 767px) {
  .mobile__content {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    z-index: 1;
    padding: 48px 15px 48px 40px;
  }
  .mobile__content.is-open {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
  }
}
@media screen and (min-width: 768px) {
  .mobile__content {
    display: none;
  }
}
.mobile__item {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.mobile__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-contact__item {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.mobile-contact__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-contact__link {
  color: #757575;
}

.mobile-contact__link--current {
  font-size: 34px;
}

.mobile__link,
.mobile-contact__link {
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile__link:hover, .mobile__link:focus,
.mobile-contact__link:hover,
.mobile-contact__link:focus {
  color: #2196f3;
}

.mobile__link--current,
.mobile-contact__link--current {
  color: #2196f3;
}

.mobile-social {
  display: flex;
  flex-wrap: wrap;
}

.mobile-social__list {
  cursor: pointer;
}
.mobile-social__list:not(:last-child) {
  border-right: 1px solid #2196f3;
  padding-right: 10px;
}
.mobile-social__list:not(:first-child) {
  padding-left: 10px;
}

.mobile-social__link {
  color: #2196f3;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #c4c4c4;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 1199px) {
  .hero {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

.overlay {
  max-width: 1600px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url("../images/mobile1x.jpg");
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url("../images/mobile2x.jpg");
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url("../images/tablet1x.jpg");
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (max-width: 767px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (max-width: 767px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url("../images/tablet2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url("../images/img-hero.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4) 0%, rgba(47, 48, 58, 0.4) 100%), url("../images/hero2x.jpg");
  }
}

.hero__title {
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.6;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  max-width: 696px;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.4;
  }
}

.hero__button {
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 24px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.9;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover, .hero__button:focus {
  background-color: #188ce8;
}
@media screen and (min-width: 768px) {
  .hero__button {
    padding: 10px 32px;
  }
}

@media screen and (max-width: 767px) {
  .quality__list {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  .quality__list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .quality__list {
    display: flex;
  }
}

@media screen and (max-width: 767px) {
  .quality__item {
    width: 100%;
  }
  .quality__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .quality__item {
    width: calc((100% - 30px) / 2);
  }
  .quality__item:not(:nth-last-child(-n+2)) {
    margin-bottom: 30px;
  }
  .quality__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .quality__item {
    width: calc((100% - 90px) / 4);
  }
  .quality__item:not(:last-child) {
    margin-right: 30px;
  }
}

.quality__title {
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .quality__title {
    text-align: center;
  }
}

.quality__text {
  line-height: 1.7;
}

.quality__container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f4fa;
  margin: 0;
  margin-bottom: 30px;
  width: 100%;
  height: 120px;
}

@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .work {
    display: block;
    padding-top: 0;
  }
}
.work__list {
  display: flex;
  flex-wrap: wrap;
}

.work__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.work__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  line-height: 1.2;
}

.work__item {
  position: relative;
}

.work__content {
  position: absolute;
  z-index: 1;
  display: inline-flex;
  width: 100%;
  min-height: 70px;
  left: 0;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  justify-content: center;
  align-items: center;
}

.work__text {
  padding: 0;
  margin: 0;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.work__item + .work__item {
  margin-left: 30px;
}

.team {
  background-color: #f5f5f5;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    display: flex;
  }
}

.team__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  line-height: 1.1;
}
@media screen and (min-width: 1200px) {
  .team__title {
    font-size: 36px;
    line-height: 1.2;
  }
}

.team__item {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 767px) {
  .team__item {
    width: 100%;
  }
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__item {
    width: calc((100% - 30px) / 2);
  }
  .team__item:not(:nth-last-child(-n+2)) {
    margin-bottom: 30px;
  }
  .team__item:not(:nth-child(2n)) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    width: calc((100% - 90px) / 4);
  }
  .team__item:not(:last-child) {
    margin-right: 30px;
  }
}

.team-about {
  padding: 30px 0 24px 0;
}
@media screen and (min-width: 1200px) {
  .team-about {
    padding: 30px 0;
  }
}

.team-about__name {
  margin-bottom: 10px;
  margin-top: 0;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  line-height: 1.2;
}

.team-about__specialization {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  line-height: 1.2;
}

.team-about__list {
  display: flex;
  justify-content: center;
}

.team-about__link {
  display: inline-flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  border: none;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team-about__link:hover, .team-about__link:focus {
  border: none;
  border-radius: 50%;
  background-color: #2196f3;
  color: #ffffff;
}

.team-about__item:not(:last-child) {
  margin-right: 10px;
}

.team-about__icon {
  fill: currentColor;
}

.clients__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  line-height: 1.1;
}
@media screen and (min-width: 1200px) {
  .clients__title {
    font-size: 36px;
    line-height: 1.2;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.clients__link {
  display: inline-flex;
  height: 92px;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border-radius: 4px;
  border: 1px solid #2196f3;
  color: #2196f3;
}

.clients__icon {
  fill: currentColor;
}

@media screen and (max-width: 767px) {
  .clients__item {
    width: calc((100% - 30px) / 2);
  }
  .clients__item:not(:nth-last-child(-n+2)) {
    margin-bottom: 30px;
  }
  .clients__item:nth-child(2n+1) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .clients__item {
    width: calc((100% - 60px) / 3);
  }
  .clients__item:not(:nth-last-child(-n+3)) {
    margin-bottom: 30px;
  }
  .clients__item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    width: calc((100% - 150px) / 6);
  }
  .clients__item:not(:last-child) {
    margin-right: 30px;
  }
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}
@media screen and (max-width: 767px) {
  .footer {
    display: block;
  }
}

.address__item {
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.address__item:not(:last-child) {
  margin-bottom: 9px;
}
@media screen and (max-width: 1199px) {
  .address__item {
    text-align: center;
  }
  .address__item:not(:last-child) {
    margin-bottom: 8px;
  }
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link--difference {
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link:hover, .address__link:focus {
  color: #2196f3;
}

@media screen and (max-width: 1199px) {
  .footer__contacts {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer__contacts {
    margin-left: 76px;
  }
}

.social {
  margin-left: 70px;
}
@media screen and (max-width: 767px) {
  .social {
    margin-left: 0;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .social {
    margin-left: 165px;
  }
}

.social__title {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (max-width: 1199px) {
  .social__title {
    text-align: center;
  }
}

.social__list {
  display: flex;
  justify-content: center;
}

.social__link {
  display: inline-flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  border: none;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  background-color: #2196f3;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__icon {
  fill: currentColor;
}

.join {
  margin-left: 93px;
}
@media screen and (max-width: 1199px) {
  .join {
    margin-left: 0;
    width: 100%;
    text-align: center;
  }
}

.join__title {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
@media screen and (max-width: 1199px) {
  .join__title {
    text-align: center;
  }
}

.send-button {
  display: flex;
  margin-left: 12px;
}
@media screen and (max-width: 1199px) {
  .send-button {
    margin: 0;
    justify-content: center;
  }
}

.join__form {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1199px) {
  .join__form {
    display: block;
  }
}

.send-button__button {
  display: inline-flex;
  padding: 10px 28px;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.send-button__button:hover, .send-button__button:focus {
  background-color: #188ce8;
}

.send-button__icon {
  margin-left: 10px;
}

.join__input {
  display: inline-block;
  font-family: "Roboto", sans-serif;
  width: 358px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: none;
  font-size: 16px;
  line-height: 1.3px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join__input:focus {
  border: 1px solid #2196f3;
  border-radius: 4px;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .join__input {
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .join__input {
    margin: 0 auto;
    margin-bottom: 20px;
    display: block;
    width: 450px;
  }
}

.modal {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal.is-hidden .form {
  transform: translate(-50%, -50%) scale(1.1);
}

.form-modal {
  position: absolute;
  z-index: 100;
  display: flex;
  justify-content: right;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 40px;
  background-color: #ffffff;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  max-width: 528px;
  width: 90%;
}

.form-modal__button {
  position: absolute;
  display: inline-flex;
  top: 8px;
  right: 8px;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  color: #000000;
  background-color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-modal__button:hover, .form-modal__button:focus {
  color: #2196f3;
}

.form-modal__icon {
  fill: currentColor;
  flex-grow: 1;
}

.callback {
  margin: 0 auto;
}

.callback__title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
@media screen and (max-width: 1199px) {
  .callback__title {
    line-height: 1.5;
  }
}

.callback__input {
  padding: 0;
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  fill: #000000;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.callback__input:focus {
  border-color: #2196f3;
}

.callback__input:focus + .callback__icon {
  fill: #2196f3;
}

.callback__field {
  position: relative;
  margin-bottom: 28px;
  color: #212121;
}
@media screen and (max-width: 1199px) {
  .callback__field--tablet {
    margin-bottom: 20px;
  }
}

.callback__label {
  position: absolute;
  top: 0;
  transform: translateY(-20px);
  margin-bottom: 4px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #757575;
}

.callback__checkbox-label {
  cursor: pointer;
}

.callback__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: currentColor;
}

.callback__feedback {
  display: block;
  font-family: "Roboto", sans-serif;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.callback__feedback:focus {
  border-color: #2196f3;
}

.callback__checkbox {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.callback__checkbox-text {
  display: inline-block;
  margin-right: 9px;
  width: 16px;
  height: 15px;
  border: 2px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: transparent;
  border-radius: 2px;
  flex-shrink: 0;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.callback__link {
  margin-left: 5px;
  text-decoration: underline;
  color: #2196f3;
}

.callback__checkbox:checked + .callback__checkbox-text {
  background-image: url(../images/check.svg);
  border: 2px solid #2196f3;
  background-color: #2196f3;
  background-size: contain;
  background-origin: border-box;
  border-radius: 2px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.callback__checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 1199px) {
  .callback__checkbox-label {
    font-size: 12px;
    line-height: 1.2;
  }
}

.callback__button {
  text-align: center;
}

.callback__send-button {
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  min-width: 200px;
  padding: 10px 52px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid transparent;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.9;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.callback__send-button:hover, .callback__send-button:focus {
  background-color: #188ce8;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px;
  margin-top: 0;
  margin-bottom: 50px;
}

.portfolio-list__button {
  font-family: "Roboto", sans-serif;
  padding: 6px 22px;
  background-color: #f5f4fa;
  border-radius: 4px;
  border: 1px solid transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: #212121;
  box-shadow: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list__button:hover, .portfolio-list__button:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.example-list {
  display: flex;
  flex-wrap: wrap;
}

.example-list__item {
  margin-right: 30px;
  margin-bottom: 30px;
}
.example-list__item:nth-child(3n) {
  margin-right: 0;
}
.example-list__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.example-list__border {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
}

.example-list__title {
  margin-top: 0px;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.example-list__text {
  margin-top: 0;
  margin-bottom: 0px;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: #757575;
}

.example-list__link {
  display: block;
  box-shadow: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.example-list__link:hover, .example-list__link:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-container {
  position: relative;
  overflow: hidden;
}

.card-container__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.example-list__link:hover .card-container__overlay, .example-list__link:focus .card-container__overlay {
  transform: translateY(0);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.card-container__text {
  padding: 0 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: #ffffff;
}/*# sourceMappingURL=main.css.map */