@import "./utils/variables";
@import "./components/basic.scss";
@import "./components/header.scss";
@import "./components/logo.scss";
@import "./components/navigation.scss";
@import "./components/emphasis.scss";
@import "./components/contacts.scss";
@import "./components/hero.scss";
@import "./components/modal.scss";
@import "./components/sections.scss";
@import "./components/image.scss";
@import "./components/benefits.scss";
@import "./components/team.scss";
@import "./components/social";
@import "./components/customers";
@import "./components/portfolio.scss";
@import "./components/buttons.scss";
@import "./components/footer.scss";
@import "./components/footer-social.scss";
@import "./components/footer-subscribe";