/*-----Переваги-----*/
.benefits__subtitle {
color: $title-text-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 30px;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.section-subtitle.second {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.benefits {
  @media screen and (min-width: 768px) {
  padding-bottom: 0;
}
}
.benefits__list {
  display: block;
  justify-content: center;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 768px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    flex-wrap: nowrap;

  }
}
.benefits__item {
  @media screen and (min-width: 480px) {
    width: 450px;
  }

  @media screen and (min-width: 768px) {
    width: 354px;
    margin-right: 30px;

  }

  @media screen and (min-width: 1200px) {
    width: 270px;
    margin-bottom: 0px;
  }

  &:first-child {

    @media screen and (min-width: 1200px) {
      margin-left: 0px;
    }

  }

  &:nth-child(2n) {

    @media screen and (max-width: 1199px) {
      margin-right: 0px;
    }

  }

  &:nth-child(n+3) {

    @media screen and (min-width: 768px) {
      margin-bottom: 0px;
    }
  }


  &:last-child {
    margin-bottom: 0px;
    margin-right: 0px;
  }
}
/*
.benefits__list {
  display: block;
  justify-content: center;
  
   @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 768px;
  }
  @media screen and (min-width: 1200px) {
  max-width: 1200px;
  flex-wrap: nowrap;
  gap: 30px;
}
}

/*
.benefits__item {
  @media screen and (min-width: 480px) {
      width: 450px;
      height: 226px;
  @media screen and (min-width: 480px) {
      &:not(:last-child()) {
          margin-bottom: 30px;
        }
      }
    }
 @media screen and (min-width: 768px) {
   width: 354px;
   height: 224px;
   gap: 30px;
 }

  @media screen and (min-width: 1200px){
   width: 270px;
  margin: 0;
  }
    
}

*/

.benefits__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 100%;
  border-radius: 4px;
  background-color: $second-background-color;
}

.benefits__title--hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.benefits__text {
  line-height: 1.71;
  margin-bottom: 10px;
    @media screen and (min-width: 1200px) {
      width: 270px;
    }
}
