/*---Кнопки---*/
.button {
  color: $title-text-color;
  background-color: $second-background-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  border: none;
  border-radius: 4px;
  min-width: 73px;
  padding: 6px 22px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  &:hover,
  &:focus {
    color: $main-lite-color;
    background-color: $accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.hero__button {
  display: inline-block;
  color: $main-lite-color;
  background-color: $accent-color;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  min-width: 216px;
  cursor: pointer;
  margin-top: 30px;
  padding: 10px 32px;
  border: 0 solid transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  &:hover,
  &:focus {
    background-color: $background-buttom-color;
  }
}

.button.second {
  color: $main-lite-color;
  background-color: $accent-color;
}

.button-projects {
  display: flex;
  justify-content: center;
}

.button-projects .button-one + .button-one {
  margin-left: 8px;
}
