/*---Постійні клієнти----*/
.customers-title {
  color: $title-text-color;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.customers-list {
  display: flex;
  justify-content: space-between;
}

.customer {
  margin-left: 30px;
  &:first-child {
    margin-left: 0;
  }
}

.customer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;
  color: $social-text;
  border: 1px solid $social-text;
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: $accent-color;
    border: 1px solid $accent-color;
  }
}

.customer-icon {
  --color1: currentColor;
}
