.main-nav__link {
  &::after {
    content: ' ';
    display: block;
    width: 100%;
    height: 4px;
    background-color: $accent-color;
    position: absolute;
    left: 0;
    bottom: -1px;
    opacity: 0;
  }
}

.main-nav__link--current {
  color: $accent-color;
  &::after {
    opacity: 1;
  }
}
