.hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: $under-hero;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    @media screen and (max-width: 1199px) {
        padding-top: 118px;
        padding-bottom: 118px;
    }
}

.overlay {
    max-width: 1600px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, #2f303a66 0%, #2f303a66 100%),
        url('../images/mobile1x.jpg');
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to right, #2f303a66 0%, #2f303a66 100%),
                    url('../images/mobile2x.jpg');
        }
    @media screen and (min-width: 480px) and (max-width: 767px) {
        background-image: linear-gradient(to right, #2f303a66 0%, #2f303a66 100%),
                url('../images/tablet1x.jpg');
        @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: linear-gradient(to right, #2f303a66 0%, #2f303a66 100%),
                    url('../images/tablet2x.jpg');
        }
    }
        @media screen and (min-width: 768px) {
            background-image: linear-gradient(to right, #2f303a66 0%, #2f303a66 100%),
                url('../images/img-hero.jpg');
    
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: linear-gradient(to right, #2f303a66 0%, #2f303a66 100%),
                    url('../images/hero2x.jpg');
            }
    }
}

.hero__title {
    margin: 0 auto;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.6;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $white-color;
    max-width: 696px;
    @media screen and (min-width: 768px) {
        font-size: 44px;
        line-height: 1.4;
    }
}

.hero__button {
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    padding: 10px 24px;
    background-color: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 1px solid transparent;
    color: $white-color;
    font-size: 16px;
    line-height: 1.9;
    font-weight: 700;
    font-family: $font-family;
    @include transitionM(background-color);
    &:hover,
    &:focus {
        background-color: $button-hero-active;
    }
    @media screen and (min-width: 768px) {
        padding: 10px 32px;
    }
}