.img-box {
  display: flex;
  justify-content: center;
}

.img-box .image-first + .image-first {
  margin-left: 30px;
}

.image-first {
  position: relative;
}

.img-label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  color: $main-lite-color;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  background-color: $img-background-color;
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translate(50%);
}
