.join {
    margin-left: 93px;
    @media screen and (max-width:1199px) {
        margin-left: 0;
        width: 100%;
        text-align: center;
    }
}

.join__title {
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $white-color;
    @media screen and (max-width:1199px) {
        text-align: center;
    }
}

.send-button {
    display: flex;
    margin-left: 12px;
    @media screen and (max-width:1199px) {
        margin: 0;
        justify-content: center;
        }
}

.join__form {
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width:1199px) {
        display: block;

    }
}

.send-button__button {
    display: inline-flex;
    padding: 10px 28px;
    align-items: center;
    justify-content: center;
    font-family: $font-family;
    background-color: $accent-color;
    color: $white-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 1px solid transparent;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    @include transitionM(background-color);
    &:hover,
    &:focus {
        background-color: $button-hero-active;
    }
}

.send-button__icon {
    margin-left: 10px;
}

.join__input {
    display: inline-block;
    font-family: $font-family;
    width: 358px;
    padding: 15px 16px;
    border: 1px solid $color-border-email;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    outline: none;
    font-size: 16px;
    line-height: 1.3px;
    letter-spacing: 0.03em;
    color: $color-email-place;
    background-color: $accent-background-color;
    @include transitionM(border);
    @include transitionM(color);
    &:focus {
        border: 1px solid $accent-color;
        border-radius: 4px;
        color: $white-color;
    }
    @media screen and (max-width:767px) {
            display: block;
            width: 100%;
            margin: 0 auto;
            margin-bottom: 20px;
    }
    @media screen and (min-width:768px) and (max-width:1199px) {
            margin: 0 auto;
            margin-bottom: 20px;
            display: block;
            width: 450px;
    }

}

