.main-nav {
  display: flex;
  align-items: center;
}

.main-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: $title-text-color;
  letter-spacing: 0.02em;
  font-weight: 500;
  line-height: 1.14;
  position: relative;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.42, 0, 0.58, 1);
  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.main-nav__list {
  display: flex;
  margin-left: 93px;
}

.main-nav__item {
  margin-right: 50px;
  &:last-child {
    margin-right: 0px;
  }
}
