/*Сторінка Портфоліо*/
.info-title {
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  text-align: inherit;
  margin-bottom: 4px;
  color: $title-text-color;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.project-card {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}

.block {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  &:nth-child(3n) {
    margin-right: 0px;
  }

  &:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }
}

.info-block {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid $border-color;
  border-top: none;
}
/*---Кнопки з посиланнями----*/
.block-link {
  display: block;
  transition: box-shadow 250ms $cubic;
  &:hover {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
      0px 1px 1px rgba(0, 0, 0, 0.12);
  }
  &:hover .set,
  &:focus .set {
    transform: translateY(0);
  }
}

.set {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: $portfolio-card-color;
  transform: translateY(101%);
  transition: transform 250ms $cubic;
}

.card-set {
  position: relative;
  overflow: hidden;
}

.set-description {
  color: $main-lite-color;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
}

.info-set {
  padding: 20px 24px;
  border: 1px solid $border-color;
}
.info-description {
  font-size: 16px;
  line-height: 1.88;
}
