/*----Лінки на соц.мережі---*/
.social-links {
  margin-top: 16px;
  align-items: center;
  display: flex;
  justify-content: center;
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.social-links__link {
  display: flex;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  color: #afb1b8;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links__link:hover,
.social-links__link:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.social-links__icon {
  --color1: currentColor;
}
