.social {
    margin-left: 70px;
    @media screen and (max-width:767px) {
        margin-left: 0;
        margin-bottom: 60px;
        }
        @media screen and (min-width:768px) and (max-width:1199px) {
            margin-left: 165px;
        }
}

.social__title {
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $white-color;
    @media screen and (max-width:1199px) {
        text-align: center;
    }
}

.social__list {
    display: flex;
    justify-content: center;
}

.social__link {
    display: inline-flex;
    width: 44px;
    height: 44px;
    align-items: center;
    justify-content: center;
    color: $white-color;
    border: none;
    border-radius: 50%;
    background-color: $footer-box-color;
    @include transitionM(background-color);
    &:hover,
    &:focus {
        background-color: $accent-color;
    }
}

.social__item:not(:last-child) {
    margin-right: 10px;
}

.social__icon {
    fill: currentColor;
}

