$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$main-lite-color: #ffffff;
$main-dark-color: #000000;
$second-background-color: #f5f4fa;
$hero-background-color: #2f303a;
$footer-background-color: #2f303a;
$footer-phone-color: hsla(0, 0%, 100%, 0.6);
$border-color: #eeeeee;
$header-border-color: #ececec;
$social-text: #afb1b8;
$img-background-color: rgba(47, 48, 58, 0.8);
$cubic: cubic-bezier(0.42, 0, 0.58, 1);
$portfolio-card-color: rgba(33, 150, 243, 0.9);
$background-buttom-color: #188ce8;
$border-input: rgba(255, 255, 255, 0.3);
